
body {
  color: white;
  text-align: left;
  background-color: black;
}

h1 { 
    display: block;
    font-size: 3em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
    align: center;
}
